@page
@model ProyectoCiclo3.App.Frontend.Pages.FormUsuarioModel
@{
}
 
<div class="text-center">
<form method=”POST”>
  <label for="id" class="form-label">Id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id">
  <label for="Descripsion" class="form-label">Descripsion:</label>
  <input type="text" class="form-control" id="Descripsion" name="Descripsion" placeholder="Descrpsion">
  <label for="peso" class="form-label">Peso:</label>
  <input type="number" class="form-control" peso="peso" name="peso" placeholder="peso">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>