@page
@model ProyectoCiclo3.App.Frontend.Pages.FormUsuarioModel
@{
}
 
<div class="text-center">
<form method=”POST”>
  <label for="id" class="form-label">Id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id">
  <label for="origen" class="form-label">Origen:</label>
  <input type="number" class="form-control" id="origen" name="origen" placeholder="origen">
  <label for="destino" class="form-label">Destino:</label>
  <input type="number" class="form-control" id="destino" name="destino" placeholder="destino">
  <label for="fecha" class="form-label">Fecha:</label>
  <input type="date" class="form-control" id="fecha" name="fecha" placeholder="fecha">
  <label for="hora" class="form-label">Hora:</label>
  <input type="text" class="form-control" hora="hora" name="hora" placeholder="hora">
  <label for="encomienda" class="form-label">Encomienda:</label>
  <input type="number" class="form-control" id="encomienda" name="encomienda" placeholder="encomienda">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>