@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>   
        <img src= "https://media.istockphoto.com/photos/amazoncom-fulfillment-center-amazon-is-the-largest-internetbased-in-picture-id1154816450?k=20&m=1154816450&s=612x612&w=0&h=IoX69e8h-HarF7SaY5asGGDJ8S0DeLyFIXvqkL1f0xk=" alt="">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


