@page
@model ProyectoCiclo3.App.Frontend.Pages.FormUsuarioModel
@{
}
 
<div class="text-center">
<form method=”POST”>
  <label for="id" class="form-label">Id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id" >
  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  <label for="apellido" class="form-label">Apellido:</label>
  <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
  <label for="direccion" class="form-label">Direccion:</label>
  <input type="text" class="form-control" id="direccion" name="direccion" placeholder="direccion">
  <label for="telefono" class="form-label">Telefono:</label>
  <input type="number" class="form-control" id="telefono" name="telefono" placeholder="telefono">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>