@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>12345</td>
      <td>Otto</td>
      <td>Serge</td>
      <td>Cra 30 50</td>
      <td>2304040</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>67890</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>cra 20 cll 15</td>
      <td>3404040</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>98765</td>
      <td>Larry</td>
      <td>Arias</td>
      <td>cra 49 09</td>
      <td>876543</td>
    </tr>
  </tbody>
</table>
